* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #061724;
  color: white;
  font-family: Kumbh Sans;
  letter-spacing: 0.3em;
}

nav,
nav * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

nav {
  justify-content: space-between;
  height: 75px;
  font-size: 1.25em;
  color: white;
}

#nav-links {
  width: 100%;
  height: 100%;
  justify-content: space-around;
  letter-spacing: 0.3em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {

  color: orange;
  font-size: 1.2em;
}

.homeContainer {
  display: block;
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}

.mainTitle {
  background-color: rgb(150, 204, 206);
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  border-radius: 20px;
  height: 40vh;
  position: relative;
}

#balloon1 {
  animation: balloon1 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  /* animation-delay: -8s; */
  animation-timing-function: linear;
}

@keyframes balloon1 {
  0% {
    left: 85%;
    top: 65%;
  }

  50% {
    left: 10%;
    top: 65%
  }

  100% {
    left: -15%;
    top: 10%;
  }
}

#balloon2 {
  animation: balloon2 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  /* animation-delay: -16s; */
  animation-timing-function: ease-in-out;
}

@keyframes balloon2 {
  0% {
    left: 85%;
    top: 15%;
  }

  50% {
    left: 10%;
    top: 5%
  }

  100% {
    left: -15%;
    top: 65%;
  }
}

#balloon3 {
  animation: balloon3 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-delay: -10s;
  animation-timing-function: linear;
}

@keyframes balloon3 {
  0% {
    left: 85%;
    top: 65%;
  }

  50% {
    left: 10%;
    top: 65%
  }

  100% {
    left: -15%;
    top: 10%;
  }
}
#balloon4 {
  animation: balloon4 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-delay: -10s;
  animation-timing-function: linear;
}

@keyframes balloon4 {
  0% {
    left: 85%;
    top: 15%;
  }

  50% {
    left: 10%;
    top: 5%
  }

  100% {
    left: -15%;
    top: 65%;
  }
}
#balloon5 {
  animation: balloon5 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-delay: -20s;
  animation-timing-function: linear;
}

@keyframes balloon5 {
  0% {
    left: 85%;
    top: 65%;
  }

  50% {
    left: 10%;
    top: 65%
  }

  100% {
    left: -15%;
    top: 10%;
  }
}

#balloon6 {
  animation: balloon6 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-delay: -20s;
  animation-timing-function: linear;
}

@keyframes balloon6 {
  0% {
    left: 85%;
    top: 15%;
  }

  50% {
    left: 10%;
    top: 5%
  }

  100% {
    left: -15%;
    top: 65%;
  }
}

#balloon7 {
  animation: balloon7 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-delay: -35s;
  animation-timing-function: linear;
}

@keyframes balloon7 {
  0% {
    left: 85%;
    top: 65%;
  }

  50% {
    left: 10%;
    top: 65%
  }

  100% {
    left: -15%;
    top: 10%;
  }
}


/* Sizing the images and position absolute to contain the balloons inside the container */
#balloon1 img,
#balloon2 img,
#balloon3 img,
#balloon4 img,
#balloon5 img,
#balloon6 img,
#balloon7 img {
  position: absolute;
  opacity: 0.6;
  background-color: transparent;
  width: 100px;
  height: 100px;
}

/* position the containing div blocks that contain the balloons inline */
#balloon1,
#balloon2,
#balloon3,
#balloon4,
#balloon5,
#balloon6,
#balloon7 {
  display: inline;
}

h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: transparent;
  color: black;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.3em;
  z-index: 2;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px black;
}

.location,
.jobtitle {
  width: 50%;
  margin: 50px auto;
  text-align: center;
  font-size: 2rem;
  line-height: 2em;
}

.location {
  border-top: 2px solid orange;
  margin: 0 auto;
  height: 100%;
  padding-top: 5%;
}

#scrollButton {
  background-color: orange;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px orange;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  z-index: 10;
}

#scrollButton:active {
  background: yellow;
}

h2 {
  width: 100%;
  height: 300px;
  border-top: solid white 10px;
  font-size: 100px;
  color: orange;
  font-weight: 900;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projectsGrid {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-areas: ". A A A ."
    ". B B C ."
    ". D E F .";
  grid-gap: 10px;
}

#projectsGrid>div {
  background-color: cadetblue;
  text-align: center;
  padding: 20x 0;
  font-size: 30px;
  height: 300px;s
}

#projectsGrid>div:hover {
  background-color: lightgreen;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  transition: 0.3s;
  z-index: 10;
}

.container1 {
  grid-area: A;
  position: relative;
}

.container1:hover{
  cursor: default; 
  transform: rotate(360deg); 
  transition: all 1.3s ease-in-out 0s;
  background-color: cadetblue;
  z-index: 10;
}

span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100px;
  background-color: transparent;
  font-weight: bolder;
  z-index: 5;
  top: 20%;
  left: 50%;
  letter-spacing: 0.1em;
  font-size: 30px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container2 {
  grid-area: B;
  position: relative;
}

.container3 {
  grid-area: C;
  position: relative;
}

.container4 {
  grid-area: D;
  position: relative;
}

.container5 {
  grid-area: E;
  position: relative;
}

.container6 {
  grid-area: F;
  position: relative;
  margin-bottom: 100px;
}

.container1 img,
.container2 img,
.container3 img,
.container4 img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  margin: 0 auto;
  position: relative;
}

.projectBtn, .project-github {
  position: absolute;
  top: 80%;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid orange;
  display: flex;
  justify-content: space-around;
}

.projectBtn{
  left: 40%;
}

.project-github{
  left: 60%;
}

.skills {
  height: 550px;
}

/* "My Skills" and Get im touch titles */
h4 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 1.5em;
  height: 80px;
  color: orange;
}

.skills-container {
  width: 50%;
  height: 50vh;
  margin: 0 auto;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.skills div {
  margin: 0 auto;
  font-size: 40px;
  height: 100px;
}

.skills div span {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
}

.about-container p {
  margin: 50px auto;
  width: 60%;
  text-align: center;
  line-height: 1.8em;
  font-size: 25px;
  margin-bottom: 50px;
}

.incognito img {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border: 4px solid black;
  border-radius: 50%;
  background-color: blanchedalmond;
}

/* Icon Contacts */
.contact-images a {
  height: 200px;
  display: flex;
  align-items: center;
}

/* social icons */
.contact-images {
  display: flex;
  font-size: 50px;
  border-radius: 10%;
  width: 50%;
  margin: 0 auto;
  justify-content: space-around;
}

footer {
  width: 100%;
}

.footer {
  text-align: center;
  width: inherit;
  font-size: 15px;
  padding: 20px;
}

@media (max-width: 800px) {
  #nav-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  nav div {
    width: 80%;
    height: 75px;
    margin-top: 25px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 25px;
  }

  #balloon1 img,
  #balloon2 img,
  #balloon3 img,
  #balloon4 img,
  #balloon5 img,
  #balloon6 img,
  #balloon7 img {
    width: 70px;
    height: 70px;
  }

  #projectsGrid {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-areas: ". A A ."
      ". B B ."
      ". C D ."
      ". E F .";
    grid-gap: 10px;
  }

  .skills-container {
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact span {
    margin-top: 200px;
  }
}

@media (max-width: 560px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
    height: 150px;
  }

  h3 {
    font-size: 30px;
  }

  .about-container p {
    font-size: 18px;
    width: 80%;
  }

  #projectsGrid {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-areas: ". A A ."
      ". B B ."
      ". C C ."
      ". D D ."
      ". E E ."
      ". F F ."
    ;
    grid-gap: 10px;
  }

  .contact span {
    font-size: 30px;
  }
}