* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #061724;
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  letter-spacing: 0.3em;
}

nav,
nav * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

nav {
  justify-content: space-between;
  height: 75px;
  font-size: 23px;
  color: white;
}

#nav-links {
  width: 100%;
  height: 100%;
  justify-content: space-around;
  letter-spacing: 0.3em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {

  color: orange;
  font-size: 1.2em;
}

.homeContainer {
  display: block;
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}

.mainTitle-container {
  background-color: rgb(150, 204, 206);
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  border-radius: 20px;
  height: 40vh;
  position: relative;
}

/* Main title (name) */
h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: transparent;
  color: black;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.3em;
  z-index: 2;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px black;
}

.jobTitle, .location {
  display: flex;
  width: 50%;
  margin: 50px auto;
  text-align: center;
  font-size: 2rem;
  line-height: 1.5em;
  justify-content: center;
  align-items: center;
}

.location {
  border-top: 2px solid orange;
  width: 50%;
  padding-top: 5%;
}

#balloon1 {
  animation: balloon1 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  /* animation-delay: -8s; */
  animation-timing-function: linear;
}

@keyframes balloon1 {
  0% {
    left: 85%;
    top: 65%;
  }

  50% {
    left: 10%;
    top: 65%
  }

  100% {
    left: -15%;
    top: 10%;
  }
}

#balloon2 {
  animation: balloon2 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  /* animation-delay: -16s; */
  animation-timing-function: ease-in-out;
}

@keyframes balloon2 {
  0% {
    left: 85%;
    top: 15%;
  }

  50% {
    left: 10%;
    top: 5%
  }

  100% {
    left: -15%;
    top: 65%;
  }
}

#balloon3 {
  animation: balloon3 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-delay: -10s;
  animation-timing-function: linear;
}

@keyframes balloon3 {
  0% {
    left: 85%;
    top: 65%;
  }

  50% {
    left: 10%;
    top: 65%
  }

  100% {
    left: -15%;
    top: 10%;
  }
}
#balloon4 {
  animation: balloon4 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-delay: -10s;
  animation-timing-function: linear;
}

@keyframes balloon4 {
  0% {
    left: 85%;
    top: 15%;
  }

  50% {
    left: 10%;
    top: 5%
  }

  100% {
    left: -15%;
    top: 65%;
  }
}
#balloon5 {
  animation: balloon5 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-delay: -20s;
  animation-timing-function: linear;
}

@keyframes balloon5 {
  0% {
    left: 85%;
    top: 65%;
  }

  50% {
    left: 10%;
    top: 65%
  }

  100% {
    left: -15%;
    top: 10%;
  }
}

#balloon6 {
  animation: balloon6 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-delay: -20s;
  animation-timing-function: linear;
}

@keyframes balloon6 {
  0% {
    left: 85%;
    top: 15%;
  }

  50% {
    left: 10%;
    top: 5%
  }

  100% {
    left: -15%;
    top: 65%;
  }
}

#balloon7 {
  animation: balloon7 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-delay: -35s;
  animation-timing-function: linear;
}

@keyframes balloon7 {
  0% {
    left: 85%;
    top: 65%;
  }

  50% {
    left: 10%;
    top: 65%
  }

  100% {
    left: -15%;
    top: 10%;
  }
}

/* Sizing the images and position absolute to contain the balloons inside the container */
#balloon1 img,
#balloon2 img,
#balloon3 img,
#balloon4 img,
#balloon5 img,
#balloon6 img,
#balloon7 img {
  position: absolute;
  opacity: 0.6;
  background-color: transparent;
  width: 100px;
  height: 100px;
}

/* position the containing div blocks that contain the balloons inline */
#balloon1,
#balloon2,
#balloon3,
#balloon4,
#balloon5,
#balloon6,
#balloon7 {
  display: inline;
}

#scrollButton {
  background-color: orange;
  position: fixed;
  left: 20px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px orange;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  z-index: 10;
}

#scrollButton:active {
  background: yellow;
}

/* Project and About titles */
h2 {
  width: 100%;
  height: 300px;
  border-top: solid white 10px;
  font-size: 100px;
  color: orange;
  font-weight: 900;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
}


/* #projectsGrid>div:hover {
  background-color: lightgreen;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
  transition: 0.3s;
  z-index: 10; 
} */

.projects-container {
  margin-top: 150px auto;
  /* max-width: 1000px; */
  position: relative;
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.myProjects {
  display: none;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 25px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-arrow-container {
  display: flex;
  width: -10%;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  top: 50%;
}

.project-image {
  /* vertical-align: middle; */
  /* position: absolute; */
  /* left: 50%; */
  width: 100%;
  height: auto;
}

.tall-image {
  display: flex;
  justify-content: center;
  width: 100px;
  height: auto;
  margin: 0 auto;
  vertical-align: middle;
}

/* Next & previous buttons */


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  background-color: transparent;
  padding: 10px;
  margin-top: -20px;
  color: rgb(85, 8, 8);
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.8);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.projectName{
  color: white;
  background-color: transparent;
  font-size: 25px;
  padding: 8px 12px;
  flex-direction: column;
  padding-top: 10px;
  text-shadow: 2px 2px black;
  flex-wrap: wrap;
}

.description {
  color: #f2f2f2;
  background-color: transparent;
  font-size: 18px;
  opacity: 0.8;
  line-height: 1.8rem;
  padding-top: 25px;
  width: 100%;
  height: 350px;
  text-align: center;
}
.links-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

/* .myProjects a {
  text-decoration: none;
  width: 50%;
  flex-direction: row;
}
.myProjects a:nth-child(2) {
  text-decoration: none;
  width: 50%;
  justify-content: flex-end;
} */

/* Number text (1/3 etc) */
.projectNumber {
  color: #f2f2f2;
  background-color: transparent;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
}

/* .dot-container {
  width: 50%;
  margin: 0 auto; 
} */
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: auto;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 1000px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* 
.projectBtn, .project-github {
  position: absolute;
  top: 80%;
  width: 75px;
  height: auto;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid orange;
  display: flex;
  justify-content: space-around;
} */



.skills {
  height: 550px;
}

/* "My Skills" and Get in touch titles */
h4 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 1.5em;
  height: 80px;
  color: orange;
}

.skills-container {
  width: 50%;
  height: 50vh;
  margin: 0 auto;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.skills div {
  margin: 0 auto;
  font-size: 40px;
  height: 100px;
}

.skills div span {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
}

.about-container p {
  margin: 50px auto;
  width: 60%;
  text-align: center;
  line-height: 1.8em;
  font-size: 25px;
  margin-bottom: 50px;
}

.incognito img {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border: 4px solid black;
  border-radius: 50%;
  background-color: blanchedalmond;
}

/* Icon Contacts */
.contact-images a {
  height: 200px;
  display: flex;
  align-items: center;
}

/* social icons */
.contact-images {
  display: flex;
  font-size: 50px;
  border-radius: 10%;
  width: 50%;
  margin: 0 auto;
  justify-content: space-around;
}

footer {
  width: 100%;
}

.footer {
  text-align: center;
  width: inherit;
  font-size: 15px;
  padding: 20px;
}

@media (max-width: 800px) {
  #nav-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  nav div {
    width: 80%;
    height: 75px;
    margin-top: 25px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 25px;
  }

  #balloon1 img,
  #balloon2 img,
  #balloon3 img,
  #balloon4 img,
  #balloon5 img,
  #balloon6 img,
  #balloon7 img {
    width: 70px;
    height: 70px;
  }

  #projectsGrid {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-areas: ". A A ."
      ". B B ."
      ". C D ."
      ". E F .";
    grid-gap: 10px;
  }

  .skills-container {
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact span {
    margin-top: 200px;
  }
}

@media (max-width: 560px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
    height: 150px;
  }

  h3 {
    font-size: 30px;
  }

  .about-container p {
    font-size: 18px;
    width: 80%;
  }

  #projectsGrid {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-areas: ". A A ."
      ". B B ."
      ". C C ."
      ". D D ."
      ". E E ."
      ". F F ."
    ;
    grid-gap: 10px;
  }

  .contact span {
    font-size: 30px;
  }
}