* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #061724;
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  letter-spacing: 0.3em;
}

nav,
nav * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

nav {
  justify-content: space-between;
  height: 75px;
  font-size: 28px;
  padding-top: 15px;
  color: white;
}

#nav-links {
  width: 100%;
  height: 100%;
  justify-content: space-around;
  letter-spacing: 0.3em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {

  color: orange;
  font-size: 1.2em;
}

.homeContainer {
  display: block;
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}

.mainTitle-container {
  background-color: rgb(150, 204, 206);
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  border-radius: 20px;
  height: 40vh;
  position: relative;
}

/* Main title (name) */
h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: transparent;
  color: black;
  font-size: 90px;
  font-weight: 900;
  line-height: 1.3em;
  z-index: 2;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px black;
}

.jobTitle, .location {
  display: flex;
  width: 50%;
  margin: 50px auto;
  text-align: center;
  font-size: 2rem;
  line-height: 1.5em;
  justify-content: center;
  align-items: center;
}

.location {
  border-top: 2px solid orange;
  width: 50%;
  padding-top: 5%;
}

#balloon1 {
  animation: balloon1 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-timing-function: linear;
}

@keyframes balloon1 {
  0% {
    left: 85%;
    top: 65%;
  }

  50% {
    left: 10%;
    top: 65%
  }

  100% {
    left: -15%;
    top: 10%;
  }
}

#balloon2 {
  animation: balloon2 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-timing-function: ease-in-out;
}

@keyframes balloon2 {
  0% {
    left: 85%;
    top: 15%;
  }

  50% {
    left: 10%;
    top: 5%
  }

  100% {
    left: -15%;
    top: 65%;
  }
}

#balloon3 {
  animation: balloon3 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-delay: -10s;
  animation-timing-function: linear;
}

@keyframes balloon3 {
  0% {
    left: 85%;
    top: 65%;
  }

  50% {
    left: 10%;
    top: 65%
  }

  100% {
    left: -15%;
    top: 10%;
  }
}
#balloon4 {
  animation: balloon4 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-delay: -10s;
  animation-timing-function: linear;
}

@keyframes balloon4 {
  0% {
    left: 85%;
    top: 15%;
  }

  50% {
    left: 10%;
    top: 5%
  }

  100% {
    left: -15%;
    top: 65%;
  }
}
#balloon5 {
  animation: balloon5 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-delay: -20s;
  animation-timing-function: linear;
}

@keyframes balloon5 {
  0% {
    left: 85%;
    top: 65%;
  }

  50% {
    left: 10%;
    top: 65%
  }

  100% {
    left: -15%;
    top: 10%;
  }
}

#balloon6 {
  animation: balloon6 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-delay: -20s;
  animation-timing-function: linear;
}

@keyframes balloon6 {
  0% {
    left: 85%;
    top: 15%;
  }

  50% {
    left: 10%;
    top: 5%
  }

  100% {
    left: -15%;
    top: 65%;
  }
}

#balloon7 {
  animation: balloon7 30s infinite;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-delay: -35s;
  animation-timing-function: linear;
}

@keyframes balloon7 {
  0% {
    left: 85%;
    top: 65%;
  }

  50% {
    left: 10%;
    top: 65%
  }

  100% {
    left: -15%;
    top: 10%;
  }
}

/* Sizing the images and position absolute to contain the balloons inside the container */
#balloon1 img,
#balloon2 img,
#balloon3 img,
#balloon4 img,
#balloon5 img,
#balloon6 img,
#balloon7 img {
  position: absolute;
  opacity: 0.6;
  background-color: transparent;
  width: 100px;
  height: 100px;
}

/* position the containing div blocks that contain the balloons inline */
#balloon1,
#balloon2,
#balloon3,
#balloon4,
#balloon5,
#balloon6,
#balloon7 {
  display: inline;
}

#scrollButton {
  background-color: orange;
  position: fixed;
  left: 20px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px orange;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  z-index: 10;
}

#scrollButton:active {
  background: yellow;
}

/* Project and About title */
h2 {
  width: 100%;
  height: 200px;
  padding-top: 5%;
  text-align: center;
  border-top: solid white 10px;
  font-size: 80px;
  color: orange;
  font-weight: 900;
  letter-spacing: 0.2em;
}


/* white border */
.projects-container {
  margin-top: 150px auto;
  position: relative;
  width: 80%;
  height: 800px;
  display: flex;
  flex-direction: column;
  border: 2px dashed rgba(255,255,255,0.5);
  margin: auto;
}

.myProjects {
  display: none;
  width: 100%;
  height: 800px;
  background-color: rgba(150, 204, 206, 0.2);
  margin: 0 auto;
  padding: 25px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-arrow-container {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  left: -10px;
  top: 50%;
}

.project-image {
  width: auto;
  background-color: transparent;
  height: 300px;
  border-radius: 5%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  background-color: transparent;
  padding: 10px;
  color: orange;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.8);
}

.next {
  right: -10px;
  border-radius: 3px 0 0 3px;
}

.projectName{
  color: white;
  background-color: transparent;
  font-size: 25px;
  padding: 20px;
  flex-direction: column;
  margin-top: 30px;
  text-shadow: 2px 2px black;
  flex-wrap: wrap;
  text-align: center;
}

.description {
  color: #f2f2f2;
  background-color: transparent;
  font-size: 20px;
  opacity: 0.8;
  line-height: 1.8rem;
  padding-top: 25px;
  width: 90%;
  height: 400px;
  text-align: center;
}

.links-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
  background-color: transparent;
  padding: 10px;
}

.links-container a{
  font-size: 24px;
  font-weight: 700;
  opacity: 0.5;
  color: rgba(0,0,0,0.8);
  background-color: white;
  width: 150px;
  text-align: center;
  padding: 5px;
  border-radius: 5%;
}

.projectNumber {
  color: #f2f2f2;
  background-color: transparent;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin: 50px auto 100px auto;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.skills {
  height: 550px;
  width: 90%;
  margin-bottom: 200px;
}

/* "My Skills" and "Get in touch" titles */
h4 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 1.5em;
  height: 80px;
  color: orange;
}

.skills-container {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.icons {
  margin: 0 auto;
  font-size: 40px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.icons small{
  font-size: 20px;
}

.about-container p {
  margin: 50px auto;
  width: 60%;
  text-align: center;
  line-height: 1.8em;
  font-size: 25px;
  margin-bottom: 50px;
}

.profile-photo img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 4px solid black;
  border-radius: 50%;
  background-color: blanchedalmond;
}

/* Icon Contacts */
.contact-images a {
  height: 200px;
  display: flex;
  align-items: center;
}

/* social icons */
.contact-images {
  display: flex;
  font-size: 50px;
  border-radius: 10%;
  width: 50%;
  margin: 0 auto;
  justify-content: space-around;
}

footer {
  width: 100%;
}

.footer {
  text-align: center;
  width: inherit;
  font-size: 15px;
  padding: 20px;
}

@media (max-width: 800px) {
  #nav-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  nav div {
    width: 80%;
    height: 75px;
    margin-top: 25px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 25px;
  }

  h4{
    font-size: 20px;
  }

  #balloon1 img,
  #balloon2 img,
  #balloon3 img,
  #balloon4 img,
  #balloon5 img,
  #balloon6 img,
  #balloon7 img {
    width: 70px;
    height: 70px;
  }

  .skills-container {
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact span {
    margin-top: 200px;
  }
}

@media (max-width: 400px) {

}


@media (max-width: 560px) {
  
  nav{
    font-size: 18px;
  }

  h1 {
    font-size: 32px;
  }

  .jobTitle, .location {
    font-size: 20px;
  }

  h2 {
    font-size: 35px;
    height: 150px;
    padding-top: 15%;
  }

  h3 {
    font-size: 30px;
  }


  .project-image{
    height: 80px;
    width: 
  }

  .skills-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .icons {
    width: 100px;
    font-size: 25px;
  }
  .icons small{
    font-size: 15px;
  }
  .about-container p {
    font-size: 18px;
    width: 80%;
  }

  .contact span {
    font-size: 30px;
  }
}


@media (max-width: 700px) {
  .project-image {
    width: auto;
    height: 150px;
  }

  .landscape {
    width: 250px;
    height: auto;
  }
  .projectName {
    font-size: 22px;
    line-height: 1.2em;
  }
  .skills-container {
    width: 80%
  }

  .links-container a{
    font-size: 20px;
    width: 120px;
  }
}

@media (max-width: 1100px) {

  .project-image {
    max-width: 500px;
  }
}
