* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, #1c8d8f, #066769);
  color: white !important;
}

.navbar-fixed {
  position: fixed;
  background: linear-gradient(90deg, #1c8d8f, #066769);
  z-index: 5;
}

nav {
  height: 100px; 
}

nav a {
  font-size: 30px;
  color: rgb(251, 182, 54);
  padding: 10px 5px;
  border-bottom: 4px solid transparent;
}

nav a:hover {
  border-bottom: 4px solid white;
  color: rgb(251, 182, 54);
  text-decoration: none;
}

.text-primary {
  color: rgb(251, 182, 54) !important;
}

.text-bold {
  font-weight: bold;
}


.main-title {
  font-weight: 700;
  letter-spacing: 0.5rem;
}

