* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, #1c8d8f, #066769);
  color: white !important;
}

.text-primary {
  color: rgb(251, 182, 54) !important;
}

.text-bold {
  font-weight: bold;
}


.main-title {
  font-weight: 700;
  letter-spacing: 0.5rem;
}

